##################################################################################################################
############################################## New App Schema Events #############################################
##################################################################################################################

[Events | Analytics]
new_app/schema/events/ab_platform/ @polina.revina  
new_app/schema/events/acquisition/ @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/ads/ @ayvar.urkunov @nikolay.arbuzov @dmitriy.kolesnikov  
new_app/schema/events/b2b/ @andrey.naumov @alisa.sakhnyuk @dinara.iskhakova
new_app/schema/events/cart_checkout/ @aleksandra.lyapakhina @denis.sharafutdinov @dinara.iskhakova  @aleksandra.lyapakhina
new_app/schema/events/content/ @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/crm/ @valida.ramazanova 
new_app/schema/events/promo/ @polina.egubova @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/delivery_conditions/ @evgeniy.luparev @darya.verkashantseva  
new_app/schema/events/digital_performance/ @anna.laykova
new_app/schema/events/ght/ @polina.egubova @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/loyalty/ @polina.egubova @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/other/  
new_app/schema/events/payments/ @aleksandra.lyapakhina  @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/pickup/ @darya.verkashantseva @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/post_ordering/ @aleksandra.lyapakhina  @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/recommendations/ @lyubov.chekletsova @darya.verkashantseva @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/retail/ @anna.laykova  
new_app/schema/events/rte/ @tatyana.isakova @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/scan_pay_go/ @andrey.s.maksimov   @vyacheslav.rezvov
new_app/schema/events/search/ @lyubov.chekletsova @darya.verkashantseva @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/events/activation/ @darya.verkashantseva @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina
new_app/schema/definitions @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina

[Admins]
CODEOWNERS @denis.sharafutdinov @dinara.iskhakova @aleksandra.lyapakhina